@model ChatViewModel

    <h2>Chat</h2>
    <form method="post" action=" /Chat/Index">

        <div class="mb-3">
            <label for="TextMessage" class="form-label">Text message</label>
            <textarea class="form-control" id="TextMessage" rows="3"></textarea>
        </div>

        <p><input type="submit" value=" Send Message" class="btn btn-primary"></p>
    </form>