
@model List<DatingApp.BusinesLogic.BusinessModel.ProfileModel>

<div class="row mt-5 mb-2">
    @{
        foreach (var profile in Model)
        {
            <div class="col-lg-4">
                <img class="img-thumbnail" alt="@profile.FirstName" />
                <h2>@profile.FirstName</h2>
                <p>@profile.LastName</p>
                <p>@profile.Age</p>
                <p><a class="btn btn-warning" href="/Profile/@profile.Id">Show</a></p>
            </div>
        }
    }
</div>